services:
  backend:
    build: .
    container_name: backend_api
    ports:
      - "8085:8000"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    env_file:
      - ./app/.env
    volumes:
      - /var/www/api-app/frontend:/frontend
      - ./app/config.local.yaml:/backend/app/config.local.yaml


  rabbitmq:
    image: rabbitmq:4.2.2-management-alpine
    ports:
      - "5671:5671"
      - "15672:15672"
    env_file:
      - .env
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - /opt/rabbitmq/ssl:/etc/rabbitmq/ssl:ro
      - /opt/rabbitmq/conf/rabbitmq.conf:/etc/rabbitmq/rabbitmq.conf:ro
    networks:
      - backend_net
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5
    restart: unless-stopped

volumes:
  rabbitmq_data:
    driver: local

networks:
  backend_net:
    driver: bridge
