# db settings
API_CONFIG__DB__USER=db_user
API_CONFIG__DB__PASSWORD=db_password

# api settings
API_CONFIG__ACCESS_TOKEN__SECRETS__SECRET=1123veryVerysecret

# rabbit settings
API_CONFIG__RABBIT__SECRETS__USERNAME=username
API_CONFIG__RABBIT__SECRETS__PASSWORD=pwd

# S3 settings
API_CONFIG__S3__ACCESS_KEY=aws_access_key
API_CONFIG__S3__SECRET_KEY=aws_secret_key

# bots tokens for auth
# API_CONFIG__BOTS__BOT_NAME1__TOKEN=123:APIKEYBOT
# API_CONFIG__BOTS__BOT_NAME2__TOKEN=123:APIKEYBOT