name: Python checks

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    paths:
      - ".github/workflows/**"
      - "app/**"
      - "Dockerfile"
      - "docker-compose.yaml"

jobs:
  run-checks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install poetry
        run: |
          export POETRY_HOME="opt/poetry"
          python3 -m venv $POETRY_HOME
          export PATH="$POETRY_HOME/bin:$PATH"
          pip install "poetry==2.1.4"
          echo "$POETRY_HOME/bin" >> $GITHUB_PATH

      - name: Poetry config disable virtualenv
        if: ${{ !env.ACT }}
        run: |
          poetry config virtualenvs.create false

      - name: Install dependencies
        run: |
          poetry sync --no-root --no-interaction --no-ansi

      - name: Run Black
        run: black --check --diff ./

      - name: Run ruff check --diff
        uses: astral-sh/ruff-action@v3
        with:
          args: 'check --diff'
          version-file: 'pyproject.toml'

      - name: Run ruff check
        uses: astral-sh/ruff-action@v3
        with:
          version-file: 'pyproject.toml'

      - name: Run mypy
        run: mypy app